<!DOCTYPE html>
<html lang="ko">

<head>
    {% include 'head.html' %}
</head>

<body>

    {% include 'navbar.html' %}

    <div class="container" id="thiss">

        <div class="mx-auto" style="width: 100%; text-align: center;">
            <br><br>
            <b>
                <h1 id="title-text">Welcome to Judas!</h1>
            </b><br>
            <h5>Insert the video link below. <br> Use it for non-commercial use only. Judas is not responsible for any problems caused by using the extracted video/audio.</h5><br>
        </div>


        <form action="/download_finish" method="post">
            <div class="mx-auto" style="width:70%;">
                <div class="input-group mb-3" style="width:100%;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i
                                class="fab fa-youtube img-fluid"></i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" style="width:50%;" name="link">　
                    <label for="type"></label>
                    <select class="form-control" id="type" name="type">
                        <option name="video">Video (mp4)</option>
                        <option name="audio">Audio (mp3)</option>
                    </select>
                    　<button id="this" type="submit" class="btn btn-dark"><i
                            class="fas fa-cloud-download-alt"></i></button>

                </div>
            </div>
        </form>

        <br>
        <br>
        <br>
        <br>
        <br>
        <span style="color:gray;">Judas - Youtube Downloader </span><br>
        <span style="color:gray;">Copyright 2020. Tim23 All rights reserved. </span><br>
        <span style="color:gray;">info@endbot.kro.kr, https://github.com/Tim232</span>

    </div>




    <div class="container" style="margin-top: 20%; display:none;" id="dae">

        <div class="row align-items-center">
            <div class="col">
            </div>
            <div class="col" style="text-align: center;">
                <div class="spinner-border text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                </div><br>
                Downloading... <br>
                MP3 files may be slow to convert due to server performance.
            </div>
            <div class="col">
            </div>
        </div>
    </div>

    {% include 'js.html' %}
</body>
<script>
    msg = ["Welcome to Judas!", "Download with NO ad", "Fast Video/Audio Download", "Made by Tim23"]
    i = 0
    function change_things() {
        $("#title-text").fadeOut(function () {
            $(this).text(msg[i]).fadeIn()
        })
        i++
        if (i > 3) {
            i = 0

        }
    }
    setInterval(change_things, 4000)

    $("#this").click(function () {
        $("#thiss").fadeOut()
        $("#dae").fadeIn()
    })

    // if( $(".colorchecker").css("background-color") == "rgb(0, 0, 0)"){ 
    //     console.log("black")
    //     $(".container").attr('class', 'container text-white')
    //     $(".container").css("background-color", "black")
    // } 
</script>

</html>